@import "../vas.scss";
.dashboard {
  background-color: $very-dark-blue-bg;
  padding: 30px 0;
  min-height: 100%;

  @include for-size(xl) {
    padding: 60px 0;
  }
}
.DARK .dashboard {
  background-color: $very-pale-blue-bg;
}
